<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>normalImageName</key>
		<string>000000</string>
		<key>selectedImageName</key>
		<string>k000000</string>
		<key>color</key>
		<string>000000</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>00a0e9</string>
		<key>selectedImageName</key>
		<string>k00a0e9</string>
		<key>color</key>
		<string>00a0e9</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>00b7ee</string>
		<key>selectedImageName</key>
		<string>k00b7ee</string>
		<key>color</key>
		<string>00b7ee</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x0000ff</string>
		<key>selectedImageName</key>
		<string>k0x0000ff</string>
		<key>color</key>
		<string>0x0000ff</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x00ff00</string>
		<key>selectedImageName</key>
		<string>k0x00ff00</string>
		<key>color</key>
		<string>0x00ff00</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x00ffff</string>
		<key>selectedImageName</key>
		<string>k0x00ffff</string>
		<key>color</key>
		<string>0x00ffff</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x1b1b1b</string>
		<key>selectedImageName</key>
		<string>k0x1b1b1b</string>
		<key>color</key>
		<string>0x1b1b1b</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x001c58</string>
		<key>selectedImageName</key>
		<string>k0x001c58</string>
		<key>color</key>
		<string>0x001c58</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x1d2088</string>
		<key>selectedImageName</key>
		<string>k0x1d2088</string>
		<key>color</key>
		<string>0x1d2088</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x002e73</string>
		<key>selectedImageName</key>
		<string>k0x002e73</string>
		<key>color</key>
		<string>0x002e73</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x005e15</string>
		<key>selectedImageName</key>
		<string>k0x005e15</string>
		<key>color</key>
		<string>0x005e15</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x5f52a0</string>
		<key>selectedImageName</key>
		<string>k0x5f52a0</string>
		<key>color</key>
		<string>0x5f52a0</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x6a005f</string>
		<key>selectedImageName</key>
		<string>k0x6a005f</string>
		<key>color</key>
		<string>0x6a005f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x6a3906</string>
		<key>selectedImageName</key>
		<string>k0x6a3906</string>
		<key>color</key>
		<string>0x6a3906</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7d0000</string>
		<key>selectedImageName</key>
		<string>k0x7d0000</string>
		<key>color</key>
		<string>0x7d0000</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7d7d7d</string>
		<key>selectedImageName</key>
		<string>k0x7d7d7d</string>
		<key>color</key>
		<string>0x7d7d7d</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7d0022</string>
		<key>selectedImageName</key>
		<string>k0x7d0022</string>
		<key>color</key>
		<string>0x7d0022</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7e6b5a</string>
		<key>selectedImageName</key>
		<string>k0x7e6b5a</string>
		<key>color</key>
		<string>0x7e6b5a</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7e0043</string>
		<key>selectedImageName</key>
		<string>k0x7e0043</string>
		<key>color</key>
		<string>0x7e0043</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7ecef4</string>
		<key>selectedImageName</key>
		<string>k0x7ecef4</string>
		<key>color</key>
		<string>0x7ecef4</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x7f2d00</string>
		<key>selectedImageName</key>
		<string>k0x7f2d00</string>
		<key>color</key>
		<string>0x7f2d00</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x8a8000</string>
		<key>selectedImageName</key>
		<string>k0x8a8000</string>
		<key>color</key>
		<string>0x8a8000</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x8c97cb</string>
		<key>selectedImageName</key>
		<string>k0x8c97cb</string>
		<key>color</key>
		<string>0x8c97cb</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x8f82bc</string>
		<key>selectedImageName</key>
		<string>k0x8f82bc</string>
		<key>color</key>
		<string>0x8f82bc</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x8fc31f</string>
		<key>selectedImageName</key>
		<string>k0x8fc31f</string>
		<key>color</key>
		<string>0x8fc31f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x009e96</string>
		<key>selectedImageName</key>
		<string>k0x009e96</string>
		<key>color</key>
		<string>0x009e96</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x13b5b1</string>
		<key>selectedImageName</key>
		<string>k0x13b5b1</string>
		<key>color</key>
		<string>0x13b5b1</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x22ac38</string>
		<key>selectedImageName</key>
		<string>k0x22ac38</string>
		<key>color</key>
		<string>0x22ac38</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x32b16c</string>
		<key>selectedImageName</key>
		<string>k0x32b16c</string>
		<key>color</key>
		<string>0x32b16c</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x0068b7</string>
		<key>selectedImageName</key>
		<string>k0x0068b7</string>
		<key>color</key>
		<string>0x0068b7</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x0075a9</string>
		<key>selectedImageName</key>
		<string>k0x0075a9</string>
		<key>color</key>
		<string>0x0075a9</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x80c269</string>
		<key>selectedImageName</key>
		<string>k0x80c269</string>
		<key>color</key>
		<string>0x80c269</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x84ccc9</string>
		<key>selectedImageName</key>
		<string>k0x84ccc9</string>
		<key>color</key>
		<string>0x84ccc9</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x88abda</string>
		<key>selectedImageName</key>
		<string>k0x88abda</string>
		<key>color</key>
		<string>0x88abda</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x89c997</string>
		<key>selectedImageName</key>
		<string>k0x89c997</string>
		<key>color</key>
		<string>0x89c997</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x097c25</string>
		<key>selectedImageName</key>
		<string>k0x097c25</string>
		<key>color</key>
		<string>0x097c25</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x362e2b</string>
		<key>selectedImageName</key>
		<string>k0x362e2b</string>
		<key>color</key>
		<string>0x362e2b</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x448aca</string>
		<key>selectedImageName</key>
		<string>k0x448aca</string>
		<key>color</key>
		<string>0x448aca</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x00479d</string>
		<key>selectedImageName</key>
		<string>k0x00479d</string>
		<key>color</key>
		<string>0x00479d</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x486a00</string>
		<key>selectedImageName</key>
		<string>k0x486a00</string>
		<key>color</key>
		<string>0x486a00</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x556fb5</string>
		<key>selectedImageName</key>
		<string>k0x556fb5</string>
		<key>color</key>
		<string>0x556fb5</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x00561f</string>
		<key>selectedImageName</key>
		<string>k0x00561f</string>
		<key>color</key>
		<string>0x00561f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x638c0b</string>
		<key>selectedImageName</key>
		<string>k0x638c0b</string>
		<key>color</key>
		<string>0x638c0b</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x00736d</string>
		<key>selectedImageName</key>
		<string>k0x00736d</string>
		<key>color</key>
		<string>0x00736d</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x834e00</string>
		<key>selectedImageName</key>
		<string>k0x834e00</string>
		<key>color</key>
		<string>0x834e00</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x996c33</string>
		<key>selectedImageName</key>
		<string>k0x996c33</string>
		<key>color</key>
		<string>0x996c33</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x03004c</string>
		<key>selectedImageName</key>
		<string>k0x03004c</string>
		<key>color</key>
		<string>0x03004c</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x003567</string>
		<key>selectedImageName</key>
		<string>k0x003567</string>
		<key>color</key>
		<string>0x003567</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x004986</string>
		<key>selectedImageName</key>
		<string>k0x004986</string>
		<key>color</key>
		<string>0x004986</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x005752</string>
		<key>selectedImageName</key>
		<string>k0x005752</string>
		<key>color</key>
		<string>0x005752</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x005982</string>
		<key>selectedImageName</key>
		<string>k0x005982</string>
		<key>color</key>
		<string>0x005982</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x007130</string>
		<key>selectedImageName</key>
		<string>k0x007130</string>
		<key>color</key>
		<string>0x007130</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x8957a1</string>
		<key>selectedImageName</key>
		<string>k0x8957a1</string>
		<key>color</key>
		<string>0x8957a1</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x009944</string>
		<key>selectedImageName</key>
		<string>k0x009944</string>
		<key>color</key>
		<string>0x009944</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x31004a</string>
		<key>selectedImageName</key>
		<string>k0x31004a</string>
		<key>color</key>
		<string>0x31004a</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x59493f</string>
		<key>selectedImageName</key>
		<string>k0x59493f</string>
		<key>color</key>
		<string>0x59493f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x81511c</string>
		<key>selectedImageName</key>
		<string>k0x81511c</string>
		<key>color</key>
		<string>0x81511c</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x100964</string>
		<key>selectedImageName</key>
		<string>k0x100964</string>
		<key>color</key>
		<string>0x100964</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x313131</string>
		<key>selectedImageName</key>
		<string>k0x313131</string>
		<key>color</key>
		<string>0x313131</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x434343</string>
		<key>selectedImageName</key>
		<string>k0x434343</string>
		<key>color</key>
		<string>0x434343</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x440062</string>
		<key>selectedImageName</key>
		<string>k0x440062</string>
		<key>color</key>
		<string>0x440062</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x500047</string>
		<key>selectedImageName</key>
		<string>k0x500047</string>
		<key>color</key>
		<string>0x500047</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x535353</string>
		<key>selectedImageName</key>
		<string>k0x535353</string>
		<key>color</key>
		<string>0x535353</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x601986</string>
		<key>selectedImageName</key>
		<string>k0x601986</string>
		<key>color</key>
		<string>0x601986</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x626262</string>
		<key>selectedImageName</key>
		<string>k0x626262</string>
		<key>color</key>
		<string>0x626262</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x707070</string>
		<key>selectedImageName</key>
		<string>k0x707070</string>
		<key>color</key>
		<string>0x707070</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x898989</string>
		<key>selectedImageName</key>
		<string>k0x898989</string>
		<key>color</key>
		<string>0x898989</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x920783</string>
		<key>selectedImageName</key>
		<string>k0x920783</string>
		<key>color</key>
		<string>0x920783</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0x959595</string>
		<key>selectedImageName</key>
		<string>k0x959595</string>
		<key>color</key>
		<string>0x959595</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xa0a0a0</string>
		<key>selectedImageName</key>
		<string>k0xa0a0a0</string>
		<key>color</key>
		<string>0xa0a0a0</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xa4005b</string>
		<key>selectedImageName</key>
		<string>k0xa4005b</string>
		<key>color</key>
		<string>0xa4005b</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xa6937c</string>
		<key>selectedImageName</key>
		<string>k0xa6937c</string>
		<key>color</key>
		<string>0xa6937c</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xa40000</string>
		<key>selectedImageName</key>
		<string>k0xa40000</string>
		<key>color</key>
		<string>0xa40000</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xa40035</string>
		<key>selectedImageName</key>
		<string>k0xa40035</string>
		<key>color</key>
		<string>0xa40035</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xa84200</string>
		<key>selectedImageName</key>
		<string>k0xa84200</string>
		<key>color</key>
		<string>0xa84200</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xaa89bd</string>
		<key>selectedImageName</key>
		<string>k0xaa89bd</string>
		<key>color</key>
		<string>0xaa89bd</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xaaaaaa</string>
		<key>selectedImageName</key>
		<string>k0xaaaaaa</string>
		<key>color</key>
		<string>0xaaaaaa</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xac6a00</string>
		<key>selectedImageName</key>
		<string>k0xac6a00</string>
		<key>color</key>
		<string>0xac6a00</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xacd598</string>
		<key>selectedImageName</key>
		<string>k0xacd598</string>
		<key>color</key>
		<string>0xacd598</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xae5da1</string>
		<key>selectedImageName</key>
		<string>k0xae5da1</string>
		<key>color</key>
		<string>0xae5da1</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xb3d465</string>
		<key>selectedImageName</key>
		<string>k0xb3d465</string>
		<key>color</key>
		<string>0xb3d465</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xb5b5b5</string>
		<key>selectedImageName</key>
		<string>k0xb5b5b5</string>
		<key>color</key>
		<string>0xb5b5b5</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xb28850</string>
		<key>selectedImageName</key>
		<string>k0xb28850</string>
		<key>color</key>
		<string>0xb28850</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xbfbfbf</string>
		<key>selectedImageName</key>
		<string>k0xbfbfbf</string>
		<key>color</key>
		<string>0xbfbfbf</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xc9c9c9</string>
		<key>selectedImageName</key>
		<string>k0xc9c9c9</string>
		<key>color</key>
		<string>0xc9c9c9</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xc490bf</string>
		<key>selectedImageName</key>
		<string>k0xc490bf</string>
		<key>color</key>
		<string>0xc490bf</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xcce198</string>
		<key>selectedImageName</key>
		<string>k0xcce198</string>
		<key>color</key>
		<string>0xcce198</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xcfa972</string>
		<key>selectedImageName</key>
		<string>k0xcfa972</string>
		<key>color</key>
		<string>0xcfa972</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xd1c0a5</string>
		<key>selectedImageName</key>
		<string>k0xd1c0a5</string>
		<key>color</key>
		<string>0xd1c0a5</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xd2d2d2</string>
		<key>selectedImageName</key>
		<string>k0xd2d2d2</string>
		<key>color</key>
		<string>0xd2d2d2</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xdcdcdc</string>
		<key>selectedImageName</key>
		<string>k0xdcdcdc</string>
		<key>color</key>
		<string>0xdcdcdc</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xe5e5e5</string>
		<key>selectedImageName</key>
		<string>k0xe5e5e5</string>
		<key>color</key>
		<string>0xe5e5e5</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xe4007f</string>
		<key>selectedImageName</key>
		<string>k0xe4007f</string>
		<key>color</key>
		<string>0xe4007f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xe5004f</string>
		<key>selectedImageName</key>
		<string>k0xe5004f</string>
		<key>color</key>
		<string>0xe5004f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xe60012</string>
		<key>selectedImageName</key>
		<string>k0xe60012</string>
		<key>color</key>
		<string>0xe60012</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xea68a2</string>
		<key>selectedImageName</key>
		<string>k0xea68a2</string>
		<key>color</key>
		<string>0xea68a2</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xeb6100</string>
		<key>selectedImageName</key>
		<string>k0xeb6100</string>
		<key>color</key>
		<string>0xeb6100</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xeb6877</string>
		<key>selectedImageName</key>
		<string>k0xeb6877</string>
		<key>color</key>
		<string>0xeb6877</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xec6941</string>
		<key>selectedImageName</key>
		<string>k0xec6941</string>
		<key>color</key>
		<string>0xec6941</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xeeeeee</string>
		<key>selectedImageName</key>
		<string>k0xeeeeee</string>
		<key>color</key>
		<string>0xeeeeee</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf6b37f</string>
		<key>selectedImageName</key>
		<string>k0xf6b37f</string>
		<key>color</key>
		<string>0xf6b37f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf8b551</string>
		<key>selectedImageName</key>
		<string>k0xf8b551</string>
		<key>color</key>
		<string>0xf8b551</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf19ec2</string>
		<key>selectedImageName</key>
		<string>k0xf19ec2</string>
		<key>color</key>
		<string>0xf19ec2</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf29b76</string>
		<key>selectedImageName</key>
		<string>k0xf29b76</string>
		<key>color</key>
		<string>0xf29b76</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf29c9f</string>
		<key>selectedImageName</key>
		<string>k0xf29c9f</string>
		<key>color</key>
		<string>0xf29c9f</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf19149</string>
		<key>selectedImageName</key>
		<string>k0xf19149</string>
		<key>color</key>
		<string>0xf19149</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xf39800</string>
		<key>selectedImageName</key>
		<string>k0xf39800</string>
		<key>color</key>
		<string>0xf39800</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xfacd89</string>
		<key>selectedImageName</key>
		<string>k0xfacd89</string>
		<key>color</key>
		<string>0xfacd89</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xff0000</string>
		<key>selectedImageName</key>
		<string>k0xff0000</string>
		<key>color</key>
		<string>0xff0000</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xff00ff</string>
		<key>selectedImageName</key>
		<string>k0xff00ff</string>
		<key>color</key>
		<string>0xff00ff</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xfff45c</string>
		<key>selectedImageName</key>
		<string>k0xfff45c</string>
		<key>color</key>
		<string>0xfff45c</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xfff100</string>
		<key>selectedImageName</key>
		<string>k0xfff100</string>
		<key>color</key>
		<string>0xfff100</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xfff799</string>
		<key>selectedImageName</key>
		<string>k0xfff799</string>
		<key>color</key>
		<string>0xfff799</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xffff00</string>
		<key>selectedImageName</key>
		<string>k0xffff00</string>
		<key>color</key>
		<string>0xffff00</string>
	</dict>
	<dict>
		<key>normalImageName</key>
		<string>0xffffff</string>
		<key>selectedImageName</key>
		<string>k0xffffff</string>
		<key>color</key>
		<string>0xffffff</string>
	</dict>
</array>
</plist>
