<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>expression1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression4</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression5</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression6</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression7</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression8</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression9</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression10</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression11</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression12</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression13</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>expression14</string>
	</dict>
</array>
</plist>
